<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Foro de Noticias</h1>
    {% for noticias in misNoticias %}
    <p>{{noticias.title}}</p>
    <p>{{noticias.description}}</p>
    <hr>
    <img src="{{noticias.image.url}}" height="300px" width="250px">
    <p>{{noticias.created}}</p>
    <hr>
    {% endfor %}
</body>
</html>